.sidebar {
  flex-basis: 56rem;
  background-color: var(--color-dark--1);
  padding: 3rem 5rem 3.5rem 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  height:  69.2 rem;
}

.footer {
  margin-top: auto;
}

.copyright {
  font-size: 1.2rem;
  color: var(--color-light--1);
}

 @media (max-width: 1024px) {
  .sidebar {
    flex-basis: 40rem;
    padding: 2rem 3rem;
  }
  .copyright {
    font-size: 1rem;
  }
}

 @media (max-width: 768px) {
  .sidebar {
    flex-basis: auto;
    width: 100%;
    height: auto;
    padding: 2rem;
  }
  .footer {
    margin-top: 2rem;
  }
}
